body {
margin: 0;
padding: 0;
color: #ffffff;
background: url('00TESTS01_4K_22.02.2021_14-31-10.png')no-repeat;
background-position: top;
background-size:  cover;
background-color: #000000;
}

#header 
{
text-shadow:#8c00ff 0px -10px 6px;
height: 400px;
font-weight: bold;
text-align: center; 
font-size: 100pt;  
}

#content {
	text-shadow:#8c00ff 0px -2px 6px;
font-weight: bold;
height: 300px;
text-align: center;
font-size: 40pt;    
}

#footer {
text-shadow:#8c00ff 0px 10px 6px;
font-weight: bold;
height: 100px;
text-align: center;
font-size: 30pt;
}